.marginTB1Px{
    margin: 0;
}

.marginT404{
    margin-top: 50px;
}

.FlexColumnCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.svg404{
    width: 200px;
    align-self: center;
    margin-top: 20px;
}
