///****************** Montserrat ***********************/

@font-face {
    font-family: 'Montserrat-italic';
    src: url('font/montserrat/montserrat-italic-webfont.eot');
    src: url('font/montserrat/montserrat-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/montserrat/montserrat-italic-webfont.woff2') format('woff2'),
         url('font/montserrat/montserrat-italic-webfont.woff') format('woff'),
         url('font/montserrat/montserrat-italic-webfont.ttf') format('truetype'),
         url('font/montserrat/montserrat-italic-webfont.svg#montserratitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-light';
    src: url('font/montserrat/montserrat-light-webfont.eot');
    src: url('font/montserrat/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/montserrat/montserrat-light-webfont.woff2') format('woff2'),
         url('font/montserrat/montserrat-light-webfont.woff') format('woff'),
         url('font/montserrat/montserrat-light-webfont.ttf') format('truetype'),
         url('font/montserrat/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-regular';
    src: url('font/montserrat/montserrat-regular-webfont.eot');
    src: url('font/montserrat/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/montserrat/montserrat-regular-webfont.woff2') format('woff2'),
         url('font/montserrat/montserrat-regular-webfont.woff') format('woff'),
         url('font/montserrat/montserrat-regular-webfont.ttf') format('truetype'),
         url('font/montserrat/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-bold';
    src: url('font/montserrat/montserrat-bold-webfont.eot');
    src: url('font/montserrat/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/montserrat/montserrat-bold-webfont.woff2') format('woff2'),
         url('font/montserrat/montserrat-bold-webfont.woff') format('woff'),
         url('font/montserrat/montserrat-bold-webfont.ttf') format('truetype'),
         url('font/montserrat/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


/****************** Kalam ***********************/
@font-face {
    font-family: 'kalam';
    src: url('font/kalam/kalam-light-webfont.eot');
    src: url('font/kalam/kalam-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/kalam/kalam-light-webfont.woff2') format('woff2'),
         url('font/kalam/kalam-light-webfont.woff') format('woff'),
         url('font/kalam/kalam-light-webfont.ttf') format('truetype'),
         url('font/kalam/kalam-light-webfont.svg#kalamlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Kalam-bold';
    src: url('font/kalam/kalam-regular-webfont.eot');
    src: url('font/kalam/kalam-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/kalam/kalam-regular-webfont.woff2') format('woff2'),
         url('font/kalam/kalam-regular-webfont.woff') format('woff'),
         url('font/kalam/kalam-regular-webfont.ttf') format('truetype'),
         url('font/kalam/kalam-regular-webfont.svg#kalamregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

